html {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background: gray;
}

.grid div {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checked {
  background-color: greenyellow;
}
.bomb {
  background: firebrick;
}