*{
  box-sizing: border-box;
}
html {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background: gray;
}

.grid div {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checked {
  background-color: lightgray;
}

.one {
  color: rgb(35, 161, 35);
}

.two {
  color: rgb(88, 121, 57);
}

.three {
  color: orange;
}

.four {
  color: orangered;
}